<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServeletjdbcCRUDproj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>com.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>com.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addflights</display-name>
    <servlet-name>addflights</servlet-name>
    <servlet-class>com.addflights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addflights</servlet-name>
    <url-pattern>/addflights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fwlogin</display-name>
    <servlet-name>fwlogin</servlet-name>
    <servlet-class>com.fwlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fwlogin</servlet-name>
    <url-pattern>/fwlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Flightslist</display-name>
    <servlet-name>Flightslist</servlet-name>
    <servlet-class>com.Flightslist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Flightslist</servlet-name>
    <url-pattern>/Flightslist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fromto</display-name>
    <servlet-name>Fromto</servlet-name>
    <servlet-class>com.Fromto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fromto</servlet-name>
    <url-pattern>/Fromto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Password</display-name>
    <servlet-name>Password</servlet-name>
    <servlet-class>com.Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Password</servlet-name>
    <url-pattern>/Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userentry</display-name>
    <servlet-name>Userentry</servlet-name>
    <servlet-class>com.Userentry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userentry</servlet-name>
    <url-pattern>/Userentry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>com.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userdetails</display-name>
    <servlet-name>Userdetails</servlet-name>
    <servlet-class>com.Userdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userdetails</servlet-name>
    <url-pattern>/Userdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pay</display-name>
    <servlet-name>Pay</servlet-name>
    <servlet-class>com.Pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pay</servlet-name>
    <url-pattern>/Pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>projectservlet</display-name>
    <servlet-name>projectservlet</servlet-name>
    <servlet-class>com.projectservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projectservlet</servlet-name>
    <url-pattern>/projectservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forward</display-name>
    <servlet-name>forward</servlet-name>
    <servlet-class>com.forward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forward</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loop</display-name>
    <servlet-name>loop</servlet-name>
    <servlet-class>com.loop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loop</servlet-name>
    <url-pattern>/loop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ticketpriceconfirm</display-name>
    <servlet-name>ticketpriceconfirm</servlet-name>
    <servlet-class>com.ticketpriceconfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ticketpriceconfirm</servlet-name>
    <url-pattern>/ticketpriceconfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>finals</display-name>
    <servlet-name>finals</servlet-name>
    <servlet-class>com.finals</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finals</servlet-name>
    <url-pattern>/finals</url-pattern>
  </servlet-mapping>
</web-app>